.idea
.env
/volumes
/vendor
/node_modules
/public/hot
/public/img
/public/images/web
/public/profile_images
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.rnd


/my-notes
/.fleet
/.vscode

# sublime text intellisence
.phpintel/
/.phpintel/
