:root{
    --custom_primary:#424d7c;
}

body{
    background-color:rgb(255,255,255);
}
.custom_btn_primary, .custom_btn_primary:hover, .custom_btn_primary:active{
    background-color:var(--custom_primary);
    color:white;
}

.custom_btn_primary:disabled{
    background-color:var(--custom_primary);
    color:white;
    opacity:0.7;
}

@font-face {
    font-family: 'Jost-Regular';
    src: url('/assets/fonts/Jost/Jost-Regular.ttf');
}

@font-face {
    font-family: 'Jost-Bold';
    src: url('/assets/fonts/Jost/Jost-Bold.ttf');
}

.custom_text_bold{
    font-family:'Jost-Bold',var(--bs-body-font-family);
    font-weight:bold;
}

*{
    font-family: 'Jost-Regular',var(--bs-body-font-family);
}

table.custom_table{
    width:100%;
    border-collapse:separate;
    border-spacing: 0px 8px;
}

table.custom_table>thead>tr>th{
    background-color:var(--custom_primary);
    color:white;
}

table.custom_table>tbody>tr>td{
    background-color:#efefff;
    /* background-color:#4a878e42; */
    color:black;
}

/* table.custom_table>tbody>tr:nth-child(even)>td{
    background-color:#808cc0;
    color:white;
} */


table.custom_table th, table.custom_table td{
    padding:.5rem .5rem;
    box-shadow:0.1em 0.1em 0.1em 0em #d4d4d4;

}

table.custom_table th:first-child, table.custom_table td:first-child{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

table.custom_table th:last-child, table.custom_table td:last-child{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}